dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.sublime-*
*.sublime-*
*.lksh?
.dist-buildwrapper
.project
.hpc
*.tix
/.cabal-sandbox/
/cabal.sandbox.config
/distributed-process/
/distributed-static/
/network-transport-tcp/
/network-transport/
/rank1dynamic/
